/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
p{
	font-family: Merriweather;
	font-size: 8pt;
	margin: 4px 0px 0px 0px;
	color: $base-font;
}
h1{
	text-align: center;
	text-transform: uppercase;
	font-family: Novecento;
	font-size: 30pt;
	font-weight: 400;
	color: $brand-purple;
}
h2{
	text-align: center;
	text-transform: uppercase;
	font-family: Novecento;
	font-size: 20pt;
	font-weight: 400;
	color: $brand-purple;
	margin: 30px 0;
}

.site-content{
	// display: flex;
}



.home-banner{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), url("../../images/home-hero.jpg");
	height: 100vh;
	width: 100vw;
	border-bottom: 10px solid #fff;
	background-size: cover;
	img{
		width: 200px;
		height: 200px;
	}
}
.shop-section {
	width: 800px;
		margin: 0 auto;
	.shop-categories-wrapper {
		display: flex;
		justify-content: space-between;
		div {
			text-align: center;
			padding: 10px;
			margin: 10px;
			border: 1px solid $border;
			border-top: 3px solid $border;
			border-color: $border;
			img {
				height: 70px;
				margin: 5px;
			}
			p{
				margin-bottom: 10px;
			}
			a {
				text-transform: uppercase;
				text-decoration: none;
				font-size: 8pt;
				color: #fff;
				background-color: $brand-green;
				padding: 5px 10px;
			}
		}
		div:hover {
			border-color: $brand-orange;
		}
		a:hover {
			background-color: #19625D;
		}
	}
}

.journal-section{
	width: 800px;
	margin: 0 auto;
	.journal-posts-wrapper{
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		margin-bottom: 40px;
		.individual-post-wrapper {
		flex: 1;
		margin: 10px;
		border: 1px solid $border;
			img{
					height: 160px;
					border-bottom: 3px solid $border;
				}
			.post-text-wrapper{
				padding: 5px;
				p{
					margin: 4px 0px 0px 0px;
				}
				h3{
					font-size: 14px;
					letter-spacing: 2px;
					margin: 0px 0px 12px 0px;
				}
				a{
					text-transform: uppercase;
					text-decoration: none;
					font-family: Novecento;
					color: $brand-green;
				}
				a:hover {
					color: $brand-purple;
				}
				button {
					text-transform: uppercase;
					text-decoration: none;
					font-family: Novecento;
					background: #fff;
					border-radius: 0px;
					border-color: #000;
					box-shadow: none;
					a{ 
						color: #000;
					}
				}
				button:hover {
					background: $brand-green;
					border: none;
					a {
						color: #fff;
					}
				}
			}
		}
	}
}

//shop
.shop-page-header, .product-type-page-header{
	display: block;
	padding: 20px 0;
	border-bottom: none;
}
.product-type-list, .taxonomy-description{
	width: 800px;
	margin: 0 auto;
	display: flex;
	list-style: none;
	justify-content: center;
	padding: 0 0 30px 0;
	border-bottom: 1px dashed $dashed;
	li {
		a {
			text-transform: uppercase;
			text-decoration: none;
			color: $brand-green;
			padding: 10px;
		}
		a:hover {
			color: $brand-purple;
		}
	}

}
.product-grid, .product-type-grid{
	width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 15px;
	padding-bottom: 60px;
	.single-product-wrapper{
		border: 1px solid $border;
		.product-image-wrapper{
			height: 180px;
			// width: 100%;
			background-size: cover!important;
    		background-position: center center!important;
    		border-bottom: 3px solid $border;
		}
		.product-text-wrapper{
			overflow-x: hidden;
			padding: 5px 10px 10px 10px;
			position: relative;
			.product-title:before {	
		    	float: left;
			    width: 0;
			    white-space: nowrap;	
			    content:
				 ". . . . . . . . . . . . . . . . . . . . "
				 ". . . . . . . . . . . . . . . . . . . . "
			}
			span {
				background-color: #fff;
			}
			.price{
				position: absolute;
				right: 0;
				padding-right: 10px;
			}
		}
	}
}


//single-product


.single-product-container{
	display: flex;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 110px;
	justify-content: space-between;
	.product-image-wrapper{
		flex-basis: 48%;
		padding-top: 32px;
	}
	.product-text-wrapper{
		flex-basis: 48%;
		h2{
			color: $brand-orange;
			text-align: left;
			margin-bottom: 0px;
		}
		h3{
			font-family: Novecento;
			font-weight: 400;
			font-size: 16pt;
			margin: 0px;
		}
		p{
			font-size: 8pt;
			font-family: Merriweather;
			line-height: 1.75;
		}
	}
}

//social media buttons on single-product and single (post) pages
.social-buttons {
	margin: 10px 0;
	.smb {
		font-family: Novecento;
		font-size: 8pt;
		text-transform: uppercase;
		color: #000;
		background: #fff;
		box-shadow: none;
		border: 1px solid #000;
		border-radius: 0;
		padding: 8px 16px;	
		text-shadow: none;
	}
	.smb:hover {
		background: $brand-green;
		color: #fff;
		border: none;
	}
}


//journal
//journal, single post, find-us, search, and 404 pages have sidebars
.journal-container, .find-us-container, .single-post-page-container, .search-container, .error-container{
	width: 800px;
	height: 100%;
	margin: 0 auto;
	display:flex;
	#primary{
		flex-basis: 70%;
		border-right: 1px solid $border;
		padding: 40px 0;
		padding-right: 40px;
	}
	#secondary{
		flex-basis: 30%;
		padding: 40px 0;
		padding-left: 40px;
		text-align: left;
		.widget-title {
			text-align: left;
			margin-left: 0px;
			margin-top: 0px;
			margin-bottom: 20px;
			font-size: 12pt;
			font-weight: bold;
		}
		a {
			color: $brand-green;
			text-decoration: none;
		}
		a:hover {
			color: $brand-purple;
		}
		p {
			padding: 5px 0;
			.day-of-week {
				font-weight: bold;
			}
		}
		#archives-2 {
			ul{ 
				list-style: none;
				margin-left: 0px;
				padding-left: 0px;
				a {
					text-decoration: none;
					color: $brand-green;
					font-family: Merriweather;
					font-size: 8pt;
				}
				a:hover {
					color: $brand-purple;
				}
			}
		}
	}
	.blog-posts {
		.single-post-wrapper{
			margin-bottom: 50px;
			.image-wrapper {
				position: relative;
				img {
					
				}
				h2 {
					background-color: $brand-green;
					color: #fff;
					position: absolute;
					top: 10px;
					padding: 10px 20px;
					max-width: 75%;
					line-height: 1.25;
					text-align: left;
					a{
						text-transform: uppercase;
						text-decoration: none;
						color: #fff;
					}
					a:hover {
					color: $brand-yellow;
					}
				}
				h3 {
					position: absolute;
					bottom: -9px;
					right: 0;
					background-color: $brand-green;
					text-transform: uppercase;
					color: #fff;
					font-size: 12pt;
					font-family: Novecento;
					font-weight: 400;
					padding: 0 10px;
					a{
						text-transform: uppercase;
						text-decoration: none;
						color: #fff;
					}
				}
			}
			p{
				padding: 5px 0;
			}
			.entry-footer{
				font-family: Novecento;
				text-transform: uppercase;		
				padding-top: 10px;
				span {
					margin-right: 10px;
					a {
						text-decoration: none;
						color: $brand-green;
					}
					a:hover {
						color: $brand-purple;
					}
				}
			}
		}
	}
}

//read more button also on search results page
.read-more, .read-more:visited {
	font-family: Novecento;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	border: 1px solid #000;
	padding: 10px 20px;
}
.read-more:hover {
	color: #fff;
	background-color: $brand-green;
	border: none;
}

//comments
.comments-area {
	font-family: Merriweather;
	font-size: 8pt;
	.comments-title {
		text-align: left;
	}
	.comment-body, .children .comment {
		display: flex;
		margin: 10px 0;
	}
	.comment-list {
		border-bottom: 1px solid $border;
	}
	ol, ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
	.children {
		margin-left: 40px;
		border-top: 1px solid $border;
	}
	.comment-author-avatar img {
		height: 50px;
		width: 50px;
		border-radius: 25px;
		margin-right: 20px;
	}
	cite.fn {
		font-style: normal;
		font-weight: bold;
	}
	p {
		color: #000;
		margin: 10px 0;
	}
	.comment-metadata a, a.comment-reply-link {
		text-decoration: none;
		color: $brand-green;
	}
	.comment-metadata a:hover, a.comment-reply-link:hover {
		color: $brand-purple;
	}
	.comment-reply-title {
		font-family: Novecento;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.logged-in-as a {
		text-decoration: none;
		color: $brand-green;
	}
}



//about-us
.about-banner{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% );
	height: 100vh;
	width: 100vw;
	border-bottom: 10px solid #fff;
	background-size: cover;
	letter-spacing: 2px;
	h1 {
		color: #fff;
	}
}

.about-us{
	width: 600px;
	margin: 0 auto;
	padding-bottom: 50px;
	p {
		font-size: 9pt;
	}
}



//find-us
.find-us-container{
	#primary{
		h1 {
			text-align: left;
			margin: 0;
			font-size: 20pt;
			font-weight: bold;
		}
		h2 {
			text-align: left;
			margin: 20px 0;
			font-size: 16pt;
			font-weight: bold;
			.map {
				height: 100px;
			}
		}
		.find-us-title{
			margin-top: 0px;
		}
	}
}

//form on single post and find us pages
form {
	p {
		margin: 10px 0;
		label {
			display: inline-block;
			margin-bottom: 5px;
			text-transform: uppercase;
			font-family: Novecento;
			font-size: 10pt;
			.required {
				color: $brand-orange;
			}
		}
		input[type="text"], input[type="email"], input[type="url"], textarea {
			background-color: #f4f4f4;
			font-family: Merriweather;
			font-size: 8pt;
			border-radius: 0;
			margin-top: 5px;
		}
		textarea {
			width: 519px;
		}
		span.wpcf7-not-valid-tip {
			font-family: Merriweather;
			text-transform: initial;
			font-size: 8pt;
		}
	}
	.submit{
		background-color: $brand-green;
		border: none;
		border-radius: 0;
		color: #fff;
		box-shadow: none;
		font-family: Novecento;
		text-shadow: none;
		text-transform: uppercase;
		font-size: 10pt;
	}
	.submit:hover {
		box-shadow: none;
		background-color: #19625D;
	}
	div.wpcf7-validation-errors {
		border: 1px solid #f7e700;
		font-family: Merriweather;
		font-size: 8pt;
	}
}
.comment-form { 
	.comment-form-author , .comment-form-email{
		display: inline-block;
		width: 49%;
		input {
			display: block;
			width: 100%;
			border-radius: 0;
		}
	}
	.comment-form-email{
		margin-left: 5px;
	}
	.comment-form-url {
		input {
			width: 100%;
			border-radius: 0;
		}
	}
}
.form-inner input {
	display: block;
}


//404
.error-container, .search-container {
	text-align: left;
	h1{
		text-align: left;
		margin: 30px 0 20px 0;
		font-size: 20pt;
		font-weight: 700;
	}
	p {
		margin-bottom: 10px;
	}
	fieldset {
		border: none;
		margin: 0 0 20px 0;
		padding: 0;
		label input {
			border-radius: 0;
			font-family: Merriweather;
			font-size: 8pt;
			background-color: #f4f4f4;
		}
		button {
			display: none;
		}
		.search-toggle {
			display: none;
		}
	}
	h2{
		text-align: left;
		font-size: 12pt;
		font-weight: 700;
		margin: 10px 0;
	}
	a {
		color: $brand-green;
		text-decoration: none;
		font-size: 8pt;
	}
	ul {
		font-family: Merriweather;
		font-size: 8pt;
		list-style: none;
		padding-left: 0;
		margin-left: 0;
		a {
			text-decoration: none;
			color: $brand-green;
		}
	}
	.page-title {
		margin: 0;
	}
	#archives-dropdown--1 {
		font-family: Merriweather;
		font-size: 8pt;
	}
}
//log out error
.error-page {
	font-family: Merriweather;
}
//search
.search-container {
	h1 {
		border-bottom: 1px solid $border;
		padding-bottom: 20px;
	}
	h2 a {
		font-size: 16pt;
	}
	article {
		margin: 20px 0 40px 0;
		.entry-meta {
			font-family: Novecento;
			text-transform: uppercase;
			font-size: 6pt;
		}
	}
	.read-more-button{
		margin: 20px 0;
	}
	.read-more {
		font-size: 8pt;
		color: #000;
	}
	.read-more:hover {
		color: #fff;
	}
}

//footer
.site-footer {
	background: url("../../images/dark-wood.png");
	color: #fff;
	display: block;
	p {
		color: #fff;
	}
	.footer{
		display: flex;
		width: 800px;
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 40px;
		.site-info, .business-hours {
			flex-basis: 25%;
			h4{
				color: $brand-orange;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			a {
				color: #fff;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
			span {
				font-weight: bold;
			}
		}
		.footer-logo {
			flex-basis: 50%;
			margin-top: 22px;
			text-align: right;
			img {
				height: 40px;
			}
		}

	}
	.copyright {
		flex-basis: 100%;
		text-align: center;
		font-family: Novecento;
		font-size: 10pt;
		text-transform: uppercase;
		padding-bottom: 15px;		
	}
}
